@model CRUDInventoryQuick.Models.TRANSACCION

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Transaccion</h1>
<br />

@*Alerta menor que 0*@

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Producto</label>
                <select asp-for="IdProducto" class="form-control" asp-items="ViewBag.Producto"></select>
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" readonly/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div><br />
            <div class="form-group">
               <label>Tipo de Transaccion</label>
                <select asp-for="TipoTransaccion" class="form-control" asp-items="ViewBag.opciones"></select>
            </div><br />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" readonly/>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input id="Crear" type="submit" value="Guardar" class="btn btn-sm btn-success" />
                <a id="VolverLista" asp-action="Index" class="btn btn-sm btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
