@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de contraseña perdida";
}

<h1>@ViewData["Title"]</h1><br />
<p>
    Por favor revisa tu correo para recuperar tu contraseña
</p>
