@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
}

<header>
    <h1 class="text-black">@ViewData["Title"]</h1>
    <p class="text-black">Esta cuenta fue bloqueado por favor intente más tarde.</p>
</header>
