@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 style="color :black" ; class="display-4">Bienvenido al Control de Inventario Dulce Pooh</h1>
</div><br />

@if (User.Identity.IsAuthenticated)
{
    <div class="col-12">
        <div class="flex">
            <div class="row">
                @if (ViewBag.ProductosBajoStock != null && ViewBag.ProductosBajoStock.Count > 0)
                {
                    <div id="Bajo" class="alert alert-success flex-fill ms-2 col-5">
                        <p>Los siguientes productos tienen un stock mínimo:</p>
                        <ul>
                            @foreach (var producto in ViewBag.ProductosBajoStock)
                            {
                                <li>@producto.Nombre</li>
                            }
                        </ul>
                    </div>
                }


                @if (ViewBag.ProductosMaximoStock != null && ViewBag.ProductosMaximoStock.Count > 0)
                {
                    <div id="Alto" class="alert alert-success flex-fill ms-2 col-5">
                        <p>Los siguientes productos tienen un stock Maximo:</p>
                        <ul>
                            @foreach (var producto in ViewBag.ProductosMaximoStock)
                            {
                                <li>@producto.Nombre</li>
                            }
                        </ul>
                    </div>

                    <br />
                }

            </div>
        </div>
           
    </div>

    <p>
        <h4>Productos más vendidos:</h4>
        <ul>
            @foreach (var producto in ViewBag.ProductosMasVendido)
            {
                <li><h5>@producto</h5></li>
            }
        </ul>
    </p>

}

