html {
    font-size: 14px;
   
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 30px;
    font-family: "Garamond";
}

h1 {
    color: black;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#Tablas{
   padding-top: 20px;
   padding-bottom: 20px;
}

p
{
    padding-bottom: 10px;
}

input.form-check-input{
    width: 17px;
    height: 17px;
}

a.nav-link:hover {
    color: #034159 !important;
}

a.navbar-brand:hover {
    color: #034159 !important;
}

#logout:hover {
    color: #034159 !important;
}

#Crear {
    background-color: #038C3E;
}

#Editar {
    background-color: #02735E;
    border: none;
}

#Detalles {
    background-color: #038C3E;
    border: none;
}

#Borrar {
    background-color: #034159;
    border: none;
}

#VolverLista {
    background-color: #025951;
}


#update-profile-button {
    background-color: #02735E;
    border: none;
}



/*#Bajo {
    float: left;
    padding-right: 100px;
}


#Alto {
    float: right;
}*/
button.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    background: transparent;
    border: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #034159;
    opacity: 0.5;
    cursor: pointer;
}
button.close:hover 
{
    opacity: 1;
}

/*Boton Iniciar sesion*/

#login-submit {
    background-color: #038C3E;
    border: none;
}

/*boton registrarse*/

#registerSubmit {
    background-color: #038C3E;
    border: none;
}

/*boton Registrarse center iniciar sesion*/

#forgot-password {
    background-color: #02735E;
    border: none;
}

/*boton Registrarse en iniciar sesion*/

#register-new {
    background-color: #02735E;
    border: none;
}

/*boton iniciar sesion center registrarse*/

#page-login {
    background-color: #02735E;
    border: none;
}

/*login*/
#content {
    background: #E4F2E7;
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
    background: #0CF25D;
    background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    background: linear-gradient(top, rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 80px auto;
    padding: 25px 0 25px;
    position: relative;
    width: 400px;
}

    #content h1 {
        letter-spacing: -0.05em;
        line-height: 20px;
        margin: 10px 0 30px;
        text-align: center;
    }

        #content h1:before,
        #content h1:after {
            content: "";
            height: 1px;
            position: absolute;
            top: 10px;
            width: 27%;
        }

        #content h1:after {
            background: rgb(126,126,126);
            background: -moz-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(left, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            right: 0;
        }

        #content h1:before {
            background: rgb(126,126,126);
            background: -moz-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(right, rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
            left: 0;
        }

    #content:after,
    #content:before {
        background: #0CF25D;
        background: #0CF25D;
        background: #0CF25D;
        background: #0CF25D;
        background: #0CF25D;
        background: #0CF25D;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
        border: 1px solid #c4c6ca;
        content: "";
        display: block;
        height: 100%;
        left: -1px;
        position: absolute;
        width: 100%;
    }

    #content:after {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        top: 0;
        z-index: -1;
    }

    #content:before {
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
        top: 0;
        z-index: -2;
    }

    #content form {
        margin: 0 20px;
        position: relative
    }






