@model CRUDInventoryQuick.Models.ASPNETUSERROLES

@{
    ViewData["Title"] = "Crear nuevo";
}

<<<<<<< HEAD
<h1>Crear</h1>
=======
<h1>Agregar Nuevo</h1>
>>>>>>> 21d977931005a06622e675e0e2fdacaeb2e56d09

<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class ="form-control" asp-items="ViewBag.RolId"></select>
            </div><br />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-sm btn-success" />
                <a asp-action="Index" class="btn btn-sm btn-primary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
