@model CRUDInventoryQuick.Models.ASPNETUSERROLES

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h4>
    ¿Estás segura de que quieres eliminar esto?
</h4>
<div>
    
    <hr />



<h3>¿Estas seguro de querer eliminarlo?</h3><br />
<div>

    <dl class="row">
        <dt class = "col-sm-1">
            Usuario
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.ASPNETUSER_ASPNETUSER.UserName)
        </dd>
        <dt class = "col-sm-1">
            Rol
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.ASPNETROLES_ASPNETROLES.Name)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />

        <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index"
            class="btn btn-sm btn-primary">Volver a la lista
        </a>

        <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" />
        <a asp-action="Index" class="btn btn-sm btn-primary">Volver a la lista</a>

    </form>
</div>

            </div>