@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autenticación de dos factores ";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3><br />
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>No te quedan códigos de recuperación.</strong>
                    <p>Usted debe <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a> antes de poder iniciar sesión con un código de recuperación.</p>
                </div><br />
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Te queda 1 código de recuperación.</strong>
                    <p>Puede <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Tienes @Model.RecoveryCodesLeft códigos de recuperación que quedan.</strong>
                    <p>Deberías  <a asp-page="./GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Olvídate de este navegador</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Deshabilitar Autenticación</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Restablecer códigos de recuperación</a>
            <br />
            <br />
        }
        

        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Añadir Autenticador</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Configurar Autenticación</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Restablecer  Autenticación</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>No se ha aceptado la política de privacidad y cookies.</strong>
            <p>Debe aceptar la política antes de habilitar la autenticación de dos factores..</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
